@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);

*,
::before,
::after {
  box-sizing: border-box;
}

:root {
--gradiente-principal-a:rgb(4, 170, 170);
--gradiente-principal-b:rgb(4, 170, 170);

}

light:root{

}


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Oswald", Helvetica, sans-serif;
  overflow-x: scroll;

  background: linear-gradient(90deg, var(--gradiente-principal-a) 0%, var(--gradiente-principal-b) 100%);
}

a {
  text-decoration: none;
  color: whitesmoke;
}

.tituloSeccion {
  margin-top: 4rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  text-shadow: -2px -2px#343434;
  font-size: 3rem;
  text-transform: uppercase;
  padding: 2rem;
  padding-left: 10rem;
  padding-right: 10rem;
  background-color: #34343453;
}

/*Cosas del NAVBAR*/
.navbar-space {
  width: 100%;
  height: 10vh;
  bottom: 0;
  display: hidden;
  position: absolute;
}

.navbar {
  z-index: 100;
  padding-left: 4rem;
  padding-right: 4rem;

  background: linear-gradient(180deg, rgb(4, 170, 170) 0%, rgb(2, 88, 88) 100%);
  padding-bottom: 0.2rem;
  padding-top: 0.4rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;

  color: rgb(242, 242, 242);
}

/*Enlaces Navbar*/
.enlaces {
  margin-left: auto;
  display: flex;
  cursor: pointer;
}

.enlaces a {
  color: whitesmoke;
  text-decoration: none;
}

/*Botones NAV*/
.boton {
  font-weight: 700;
  letter-spacing: 1px;
  height: 3rem;
  border-radius: 0.2rem;
  padding: 1.2rem;
  background: linear-gradient(
    260deg,
    rgb(6, 110, 110) 0%,
    rgb(7, 207, 207) 100%
  );
  margin: 0.4rem;

  display: flex;
  justify-content: space-around;
  align-items: center;

  transition: all 300ms ease-in;
}

.boton:hover {
  text-shadow: -4px -2px 1px #343434;
  box-shadow: -4px -2px #343434;
  background: linear-gradient(
    260deg,
    rgb(7, 207, 207) 0%,
    rgb(6, 110, 110) 100%
  );
  background-size: 400% 400%;
}

.boton:active {
  box-shadow: inset 100rem 100rem rgba(245, 245, 245, 0.586);
}

/*Logo*/
.image img {
  height: 4rem;
  background-color: rgba(240, 248, 255, 0.27);

  padding: 1rem;
}

.mImage {
  display: none;
}

/*Interructor modo oscuro*/
.switch {
  margin-left: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.switch-dark svg {
  color: whitesmoke;
  background-color: #043b3b;
  border-radius: 2rem;
  transition: all 300ms ease-in;
}

.switch-light svg {
  color: gold;
  background-color: #08d3d3;
  border-radius: 2rem;
  transition: all 300ms ease-in;
}

.switch svg:hover {
  box-shadow: -4px -2px #343434;
  background: linear-gradient(
    260deg,
    rgb(7, 207, 207) 0%,
    rgb(6, 110, 110) 100%
  );
  background-size: 400% 400%;
}

/*Cosas del INICIO*/
.inicio {
  padding-top: 10vh;
  width: 100vw;
  height: 110vh;
  background-color: rgba(10, 202, 202, 0.24);
  background-image: url(img/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: whitesmoke;
}
/*Caja de presentacion*/
.presentacion {
  display: flex;
  justify-content: center;
  flex-direction: column;

  background: radial-gradient(circle at top, #109090 0%, #176769 100%);
  background-size: 400% 400%;
  width: 25rem;
  height: 20rem;
  animation: gradientAnim 10s both infinite;

  text-align: center;
}

/*Boton presentacion*/
.presentacion div:nth-child(1) {
  font-weight: 300;

  font-size: 3rem;
  margin-bottom: -1rem;
}

.presentacion div:nth-child(2) {
  font-weight: 700;
  font-size: 3rem;
  text-shadow: 4px 4px #343434;
  margin-bottom: 1rem;
}

.presentacion div:nth-child(3) {
  font-weight: 100;
  font-size: 1.8rem;
  text-decoration: underline;
}

/*Boton del inicio*/

.boton-hero {
  margin-top: 3rem;
  width: 20rem;
  height: 8rem;
  font-size: 3rem;
  border-radius: 4rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #109090;
  text-shadow: -4px -2px #343434;
  background: radial-gradient(circle at bottom, #49e4b0 0%, #1d7990 100%);
  background-size: 400% 400%;

  cursor: pointer;
}

.boton-hero a {
  color: whitesmoke;
  text-decoration: none;
}
.boton-hero:hover {
  animation: gradientAnim 1s ease infinite;
}

.boton-hero:active {
  box-shadow: inset 100rem 100rem rgba(245, 245, 245, 0.586);
}

.boton-hero svg {
  animation: flechita 2s infinite;
  margin-left: 4rem;
}

/*Sobre mi*/
.sobremi {
  width: 100vw;
  padding-top: 4rem;
  gap: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Tarjeta presentacion*/
.card {
  width: 80rem;
  height: 40rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  padding-bottom: 2rem;
}

/*Presentacion*/
.datos {
  width: 30rem;
  height: 40rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;

  background: linear-gradient(260deg, #343434 0%, #626060 100%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.mi-nombre {
  width: 80%;
  background: linear-gradient(
    200deg,
    rgb(70, 221, 221) 0%,
    rgb(13, 100, 176) 100%
  );
  text-shadow: -4px -2px whitesmoke;
  background-clip: text;
  color: transparent;
  text-align: right;
  line-height: 4rem;
  font-size: 4rem;
  font-weight: 600;
}

.subtitulo {
  margin-top: 2rem;
  background: linear-gradient(
    200deg,
    rgb(70, 221, 221) 0%,
    rgb(73, 158, 233) 100%
  );
  font-size: 2rem;
  text-indent: 1rem;
  background-clip: text;
  color: transparent;
  width: 80%;
  font-weight: lighter;
}

.socials {
  margin-top: 4rem;
  border-top: 2px #26d69c solid;

  height: 8rem;
  width: 30rem;
  border-bottom-left-radius: 3rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.socials div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    260deg,
    rgb(6, 110, 110) 0%,
    rgb(7, 207, 207) 100%
  );

  border-radius: 0.2rem;
  padding: 1.3rem;

  transition: all 300ms ease-in;
}

.socials div:hover {
  padding: 1.5rem;
  transform: translateY(-10px);
  stroke: #26d69c;
  color: #26d69c;

  background: linear-gradient(
    260deg,
    rgb(7, 207, 207) 0%,
    rgb(6, 110, 110) 100%
  );
}

.socials div:active {
  box-shadow: inset 100rem 100rem rgba(245, 245, 245, 0.586);
}

/*Foto*/

.foto {
  width: 25rem;
  height: 40rem;
  background-image: url(img/sobremi.jpg);
  background-position-x: 100%;
  background-position-y: 90%;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Resumen*/

.resumen {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;

  font-size: 1.6rem;

  width: 25rem;
  height: 40rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  color: whitesmoke;
  background: linear-gradient(260deg, #626060 0%, #343434 100%);
}
.resumen div:nth-child(2) {
  padding: 0.3rem;

  font-weight: 500;
  font-size: 2rem;
}

.habilidad-boton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

  font-weight: bolder;

  border-radius: 1rem;
  width: 16rem;
  height: 4rem;
  background: linear-gradient(
    260deg,
    rgb(6, 110, 110) 0%,
    rgb(7, 207, 207) 100%
  );
  color: whitesmoke;
  text-shadow: 2px 2px #343434;

  transition: all 500ms ease-in;
}

.habilidad-boton:hover {
  background-size: 400% 400%;
  transform: scale(120%);
  animation: gradientAnim 1s ease infinite;
}

.habilidad-boton:active {
  box-shadow: inset 100rem 100rem rgba(245, 245, 245, 0.586);
}

/*Seccion habilidades*/

.habilidades {
  margin-top: 15rem;
  margin-bottom: 15rem;
  width: 100vw;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.grid-habilidades {
  width: 80rem;
  gap: 1rem;
  display: grid;
  grid-template-areas:
    "hf hf hb hb"
    "hi hi hi hi";

  padding-bottom: 10rem;
}

.grid-habilidades div {
  height: 40rem;
  background-color: #4b586b;
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.grid-habilidades div:nth-child(2) {
  height: 40rem;
  background-color: rgb(104, 180, 143);
  border-radius: 1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.grid-habilidades div:nth-child(3) {
  height: 30rem;

  background-color: #b76666;
  border-radius: 1rem;
  margin-left: 14rem;
  margin-right: 14rem;
}

.habs-frontend {
  grid-area: hf;
}

.habs-backend {
  grid-area: hb;
}

.habs-ides {
  grid-area: hi;
}
/*Tablas habilidades*/

.grid-habilidades div table {
  background-color: #959595;
  color: black;
  padding: 2rem;
}
.grid-habilidades div table:nth-child(3) {
  background-color: #959595;

  border-radius: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.grid-habilidades div table caption {
  color: whitesmoke;

  text-transform: uppercase;
  font-size: 2rem;
  text-shadow: -2px -2px#343434;
}

.grid-habilidades div table th {
  text-align: center;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 3rem;

  font-weight: bold;
  color: whitesmoke;
  text-shadow: 2px 2px#343434;
  border: 3px #343434 solid;
}

.grid-habilidades div table tr .vacio {
  visibility: hidden;
}

.grid-habilidades div table tr {
  text-align: center;
  background-color: #6cb4b4;
}

.grid-habilidades div table td {
  background-color: #abb5b5;
  border: 3px #343434 solid;
}

.tabla-lenguajes tr td:nth-child(3) {
  background-color: rgba(71, 126, 91, 0.286);
}

.grid-habilidades div table img {
  width: 3rem;
}

.tabla-ides tbody tr:nth-child(2) td {
  background-color: rgba(71, 126, 91, 0.286);
}

.tabla-ides tbody tr:nth-child(4) td {
  background-color: rgba(71, 126, 91, 0.286);
}

.tabla-ides th {
  font-size: 1.5rem;
  text-shadow: 2px 2px whitesmoke;
}

.tabla-lenguajes th {
  font-size: 1.5rem;

  text-shadow: 2px 2px whitesmoke;
}

.tabla-ides tr td {
  font-size: 1.5rem;
  text-shadow: 2px 2px whitesmoke;
}

.tabla-lenguajes tr td {
  font-size: 1.5rem;

  text-shadow: 2px 2px whitesmoke;
}

/*Estrellas de rating*/
figure {
  padding-left: 0.6rem;
  padding-right: 0.5rem;
  color: gainsboro;
}

.estrellas1 svg:nth-child(1) {
  color: gold;
}

.estrellas2 svg:nth-child(1) {
  color: gold;
}

.estrellas2 svg:nth-child(1),
.estrellas2 svg:nth-child(2) {
  color: gold;
}

.estrellas3 svg:nth-child(1),
.estrellas3 svg:nth-child(2),
.estrellas3 svg:nth-child(3) {
  color: gold;
}

.estrellas4 svg:nth-child(1),
.estrellas4 svg:nth-child(2),
.estrellas4 svg:nth-child(3),
.estrellas4 svg:nth-child(4) {
  color: gold;
}

.estrellas5 svg:nth-child(1),
.estrellas5 svg:nth-child(2),
.estrellas5 svg:nth-child(3),
.estrellas5 svg:nth-child(4),
.estrellas5 svg:nth-child(5) {
  color: gold;
}
/*footer de la pagina*/

.footer {
  margin-top: 20vh;
  width: 100vw;
  height: 8rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(180deg, rgb(2, 88, 88) 0%, rgb(4, 170, 170) 100%);
}

.footertext {
  font-size: 2rem;
  color: whitesmoke;
}

/*Pagina mis proyectos*/
.tituloProyectos {
  margin-top: 8rem;
  margin-bottom: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  text-transform: uppercase;
  font-size: 3rem;
  text-shadow: -2px -2px#343434;
  background-color: #34343453;
}

.mis-proyectos {
  width: 100vw;
  height: 140vh;

  display: flex;
  align-items: center;
  flex-direction: column;
}

.grid-proyectos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 3rem;
}

.proyecto1,
.proyecto2,
.proyecto3,
.proyecto4 {
  border-radius: 1rem;
  gap: 2rem;
  width: 35rem;
  height: 20rem;

  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

.proyecto-datos {
  background-color: rgba(125, 118, 118, 0.635);
  width: rem;
  height: 7.5rem;
  width: 35rem;
  width: 35rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.proyecto1:hover,
.proyecto2:hover,
.proyecto3:hover,
.proyecto4:hover {
  background-color: rgba(0, 0, 0, 0);
}

.proyecto1 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgb(255, 255, 255);
  background-image: url(img/p1.png);
  background-size: 200%;
  background-position-x: -16rem;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  transition: background-color 400ms;
}

.proyecto2 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: rgb(255, 255, 255);
  background-image: url(img/p2.png);
  background-position-y: -5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  transition: background-color 400ms;
}

.proyecto3 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: rgb(255, 255, 255);
  background-image: url(img/p3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  transition: background-color 400ms;
}

.proyecto4 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: rgb(255, 255, 255);
  background-image: url(img/p4.png);
  background-position-y: -1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  transition: background-color 400ms;
}

.ptitle {
  color: whitesmoke;
  text-shadow: -2px -2px#343434;
  font-size: 2.2rem;
}

.pdesc {
  color: whitesmoke;
  font-size: 1.2rem;
  text-align: center;
  width: 80%;
}

/*Menú haburguersa*/

.hamburguer {
  display: none;
}

.boton-hamburguer {
  display: none;
}

/*Media querys*/

@media screen and (width <= 700px) {
  body {
    overflow-x: hidden;
  }

  a {
    width: 20%;
  }

  .navbar {
    justify-content: space-evenly;
    padding: 0rem;
  }
  .switch {
    padding: 0rem;
  }

  .image {
    display: none;
  }

  .mImage {
    display: contents;
  }

  .mImage img {
    height: 3rem;
  }

  /*Menu Hamburguesa*/
  .enlaces {
    display: none;
  }

  .boton-hamburguer {
    display: contents;
  }

  .boton-hamburguer svg {
    stroke: whitesmoke;
    margin-left: 1.5rem;
    border-radius: 0.2rem;
    background-color: rgba(240, 248, 255, 0.375);
  }

  .boton-hamburguer svg:hover {
    stroke: whitesmoke;
    margin-left: 1.5rem;
    background-color: rgba(240, 248, 255, 0.597);
    transition: all 200ms ease-in-out;
  }
  .hamburguer-ani {
    position: absolute;
    top: -100rem;
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #10909088;

    transition: all 200ms ease;
  }

  .hamburguer-desplegado {
    position: absolute;
    top: 5rem;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: #10909088;
  }

  .boton {
    height: 3rem;
    width: 20rem;
  }
  /*Hero*/
  .boton-hero {
    border-radius: 1rem;
    height: 4rem;
    width: 8rem;
    padding-right: 1.4rem;
  }
  .boton-hero svg {
    animation: flechita 2s infinite;
    margin-left: 0rem;
  }

  .conoceme {
    display: none;
  }
  /*Seccion*/

  .tituloSeccion {
    text-align: center;
  }

  /*Seccion sobre mi*/
  .sobremi {
    width: 100vw;
    padding-top: 4rem;
    gap: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  /* Tarjeta presentacion*/
  .card {
    width: 25rem;
    height: 120rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-bottom: 2rem;
  }

  /*Presentacion*/
  .datos {
    width: 25rem;
    height: 50rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
  }

  .socials {
    width: 25rem;
    padding-left: 1rem;
  }
  .socials div {
    border-radius: 0.2rem;
    padding: 0rem;
    margin-right: 1rem;
  }

  /*Foto*/

  .foto {
    width: 25rem;
    height: 30rem;
    background-position-x: 100%;
    background-position-y: 35%;
  }

  /*Resumen*/

  .resumen {
    width: 25rem;
    height: 40rem;
    border-top-right-radius: 0rem;
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }

  .habilidad-boton {
    width: 16rem;
    height: 6rem;

    position: relative;

    right: 5.7rem;
  }

  /*Seccion habilidades*/

  .habilidades {
    width: 100vw;
    height: 300vh;
  }

  .grid-habilidades {
    display: grid;
    height: 160rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    margin-bottom: 0rem;
  }

  .habs-frontend {
    grid-area: 1 / 1 / 2 / 2;
    padding: 0rem;
    scale: 80%;
  }

  .habs-backend {
    grid-area: 2 / 1 / 3 / 2;
    scale: 80%;
  }

  .habs-ides {
    grid-area: 3 / 1 / 4 / 2;
    scale: 55%;
  }

  /*Tablas habilidades*/

  .habs-ides div table {
    padding-top: 4rem;
  }

  /*Mis proyectos*/
  .mis-proyectos {
    height: 230vh;
  }

  .grid-proyectos {
    margin-top: -15rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 10rem;

    scale: 70%;
  }

  .proyecto1,
  .proyecto2,
  .proyecto3,
  .proyecto4 {
    background-blend-mode: normal;
  }

  .proyecto1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .proyecto2 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .proyecto3 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .proyecto4 {
    grid-area: 4 / 1 / 5 / 2;
  }
}

/*footer*/
.footer {
  text-align: center;
}

/* Animaciones */
@keyframes gradientAnim {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes flechita {
  0% {
    transform: translate(0px, -10px);
  }
  25% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 15px);
  }
  75% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, -10px);
  }
}
