@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  padding-top: 8rem;
  margin: 0;
  font-family: "Oswald", Helvetica, sans-serif;
}

.navbar {
  padding-left: 4rem;
  padding-right: 4rem;

  background: linear-gradient(0deg, rgb(54, 55, 56) 0%, #787878 100%);
  padding-bottom: 0.2rem;
  padding-top: 0.4rem;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  position: fixed;
  top: 0;
  width: 100%;

  color: rgb(242, 242, 242);
}

.enlaces {
  margin-left: auto;
  display: flex;
}

.boton {
  height: 3rem;
  border-radius: 0.2rem;
  padding: 1.2rem;
  background: linear-gradient(
    260deg,
    rgb(6, 110, 110) 0%,
    rgb(7, 207, 207) 100%
  );
  margin: 0.4rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image img {
  height: 4rem;
  background-color: rgba(240, 248, 255, 0.27);
}

.switch {
  margin-left: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
}
.switch svg {
  color: blue;
}
